*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body{
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	background: white;
	color: black;
	font-size: 15px; 
	line-height: 1.5;
}
a{
	color: #262626;
	text-decoration: none;
}
ul{
	list-style: none;
}
.container{
	width: 90%;
	max-width: 900px;
	margin: auto;
}
.mainnav{
	display: flex;
	align-items: center;
	height: 60px;
	justify-content: space-between;
	padding: 35px 0;
	padding-top: 40px;
	font-size: 13px;

}
.mainnav .logo{
	width: 150px;
}
.mainnav ul{
	display: flex;
}
.mainnav ul.mainmenu{
	flex: 1;
	margin-left: 50px;
}

.mainnav ul li{
	padding: 0 10px;
}
.mainnav ul li a{
	padding-bottom: 3px;
}
.notcurrent:hover{
	border-bottom: 2px solid #262626;
}
.buttonaref{
	cursor: pointer;
	display: inline-block;
	border: 0;
	font-weight: bold;
	padding: 10px 20px;
	background: red;
	color: white;
	font-size: 15px;
	width: 200px;
	text-align: center;
}
.buttonaref:hover{
	opacity: 0.8;
}
.showcase{
	width: 100%;
	height: 400px;
	background: url('../darkhouse.jpg') center center;
	display: flex;
	flex-direction: column;

	justify-content: flex-start;
	color: white;
	font-weight: bold;
}
.showcase p, .showcase a{
	margin-bottom: 20px;
	margin-left: 40px;
}
.showcase h2{
	margin-top: 80px;
	margin-left: 40px;
}
.current{
	color: red;
	font-weight: bold;
}
.current:hover{
	padding-bottom: 3px;
	border-bottom: 2px solid red;
}
.cardsect{
	width: 100%;
	padding-top: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}
.cardsect img{
	width: 100%;
}
.overrider{
	padding: 0px;
	margin: 0px;
}
.cardsect h3{
	margin-bottom: 5px;
}
.cardsect a{
	display: inline-block;
	padding-top: 10px;
	color: blue;
	text-transform:  uppercase;
	font-weight: bold;
}
.cardsect a:hover i{
	margin-left: 10px;
}






